{% extends "basic.html" %}
{% block title %}Contact Us{% endblock %}
{% block head %}
{% endblock %}
{% block body_block %}
<div class="hero-unit">
<div class="container">
    <table width="800">
        <tr>
            <td><a href="https://www.facebook.com/anshul.pardhi" target="_blank"><img src="../media/images/contact/anshul.jpg" alt="Anshul" height="200" width="200"></a></td>
            <td><a href="https://www.facebook.com/kamal.dev.102" target="_blank"><img src="../media/images/contact/kamal.jpg" alt="Kamal" height="200" width="200"></a></td>
        </tr>
        <tr>
            <td>Anshul Pardhi</td>
            <td>Kamal Dev Ram</td>
        </tr>
        <tr>
            <td>BT13CSE010</td>
            <td>BT13CSE049</td>
        </tr>
        <tr>
            <td>anshul.pardhi@gmail.com</td>
            <td>kamal.dadan@gmail.com</td>
        </tr>
        <tr>
            <td>+91 9930929593</td>
            <td>+91 9545982365</td>
        </tr>
    </table>
    <table width="800">
        <tr>
            <td><a href="https://www.facebook.com/dewang.palav1" target="_blank"><img src="../media/images/contact/dewang.jpg" alt="Dewang" height="200" width="200"></a></td>
            <td><a href="https://www.facebook.com/profile.php?id=100006329777072" target="_blank"><img src="../media/images/contact/shubham.jpg" alt="Shubham" height="200" width="200"></a></td>
        </tr>
        <tr>
            <td>Dewang Palav</td>
            <td>Shubham Sharma</td>
        </tr>
        <tr>
            <td>BT13CSE063</td>
            <td>BT13CSE080</td>
        </tr>
        <tr>
            <td>dewang.palav@gmail.com</td>
            <td>shubham76@gmail.com</td>
        </tr>
        <tr>
            <td>+91 9987510782</td>
            <td>+91 8007188136</td>
        </tr>
    </table>
</div>
</div>
{% endblock %}